# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next
out
.vercel
.turbo

# Env files
.env
.env.local
.env.*.local
.env.production
.env.test

# Build artifacts
dist
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor clutter
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json

# Misc caches
.eslintcache
